.<%= params.slugifiedContentName %> { display: inline-block; width: auto; }
.<%= params.slugifiedContentName %> img { display: block; }
.<%= params.slugifiedContentName %> .caption { text-align: center; }